.container {
  padding: 2rem 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-container {
  .subtitle {
    color: red;
    text-align: center;
    margin-top: 1rem;
  }

  p {
    margin: 0;
  }

  .title {
    text-align: center;
  }

  .info-control {
    display: flex;
    margin-bottom: 0.8rem;

    &--title {
      color: #673ab7;
      font-weight: 600;
      font-size: 1rem;
    }
    &--content {
      margin-left: 5px;
      font-size: 1rem;
    }
  }

  .good-luck {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
  }
}

.image-banner {
  object-fit: contain;
  margin-top: 2rem;
  height: 50vh;
}
