main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  overflow: hidden;

  img {
    height: 65vh;
    object-fit: contain;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  p {
    text-align: center;
  }

  button {
    margin-bottom: 2rem;
  }
}
